@media (min-width: 768px) {
  body {
    // START NAVBAR
    header {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 30px;

      .nav_logos {
        display: flex;

        #firstlogo {
          width: 60px;

          a {
            width: 100%;
            height: 100%;
          }
        }
      }
      .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;

        li {
          margin-left: 20px;

          a {
            color: #333333;
            &:hover {
              color: hotpink;
            }

            span {
              font-size: 110%;
            }
          }
        }
      }
      .navigation_register {
        display: block;
        padding: 10px 15px 10px 15px;
        margin-left: 30px;
        border-radius: 5px;
        cursor: pointer;
        background: linear-gradient(102.3deg, #647b64 -4.62%, #66ac66 178.22%);
        transition: 1s;
        box-shadow: 2px 2px 2px 2px rgb(1, 26, 1);

        &:hover {
          background: linear-gradient(
            102.3deg,
            hotpink -4.62%,
            #0f2976 178.22%
          );
          box-shadow: 2px 2px 2px 2px hotpink;
        }

        a {
          color: #fefefe;
        }
      }

      .toggler {
        display: none;
      }
    }

    // END NAVBAR

    // START FORUM SECTION
    .forum {
      .forum_block {
        display: flex;
        justify-content: space-between;
        padding-top: 50px;

        .forum_about {
          width: 60%;
          h3 {
            width: 420px;

            font-size: 20px;
            line-height: 25px;
          }
          p {
            width: 400px;

            font-size: 20px;
            line-height: 25px;
          }
          button {
            @include button();

            font-size: 22px;
            padding: 15px 100px;
          }
          .ellipsis {
            width: 70px;
            height: 70px;

            left: 165px;
          }
        }
        .forum_tennis {
          width: 30%;

          .forum_tennis_part {
            display: none;
          }
          .forum_tennis_full {
            display: block;
            width: 200px;
            margin-top: -20px;
            transition: 1s;
            &:hover {
              transform: translateX(-30%);
            }

            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
    // END FORUM SECTION

    // START LIVING SECTION
    .living {
      display: flex;
      flex-direction: row;

      align-items: center;
      justify-content: center;
      width: 100%;

      .living_box {
        width: 250px;
        margin-left: 60px;
        .living_title {
          background: $colorbackground;
          width: 400px;

          .dearstudents {
            font-size: 25px;
            color: $colortitle1;
            padding-top: 10px;
            margin-left: 20px;
            width: 250px;
          }
          .searching {
            font-size: 27px;
            text-align: left;
            color: $colortitle2;
            padding: 10px;
            margin-left: 10px;
          }
        }
        .living_article {
          padding-top: 20px;
          width: 300px;

          font-size: 20px;
          line-height: 25px;
        }
        .button_search {
          @include button;
          font-size: 22px;
          margin-top: 20px;
          padding: 15px 10px;
          width: 260px;
          text-align: center;
        }
      }
      .living_cards {
        margin-left: 60px;
        .singlecard {
          width: 150px;
          height: 150px;
          background-color: white;
          border-radius: 10px;
          padding: 10px 10px;
          box-shadow: 2px 2px 2px 2px rgb(1, 26, 1);
          &:hover {
            background: $colorbackground;
            box-shadow: 2px 2px 2px 2px hotpink;
          }

          figure {
            width: 30px;
            height: 30px;
            border-radius: 5px;
            color: white;
            background: #647b64;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
              background: yellow;
              color: #647b64;
              background: hotpink;
            }
          }

          h2 {
            font-size: 15px;
            line-height: 18px;
            padding-top: 15px;
            color: $colorgray1;
          }

          p {
            font-size: 10px;
            line-height: 18px;
            padding-top: 5px;
            color: $colorgray2;
          }
        }

        .rent_dormitory {
          display: flex;
          .dormitory {
            margin-left: 20px;
          }
        }
        .hotel_guest {
          margin-top: 20px;
          display: flex;
          .guest {
            margin-left: 20px;
          }
        }
      }
    }
    // END LIVING SECTION

    // START SUCCESS SECTION
    .success {
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      text-align: center;
      .success_titles {
        h1 {
          font-size: 30px;
          color: $colortitle1;
        }
        h2 {
          font-size: 25px;
          color: $colortitle2;
          margin-top: 10px;
        }
      }
      .success_below {
        .signbox {
          margin-top: 20px;
          padding-top: 20px;
          box-shadow: 3px 3px 3px 3px rgb(1, 26, 1);

          i {
            color: $colortitle2;
            font-size: 40px;
          }
        }

        .scholarship {
          background: $colorbackground2;
        }
        .training {
          display: block;
          margin-left: 40px;
          background: #647b64;
          color: white;
          i {
            color: white;
          }

          h2 {
            margin-top: 20px;
            color: white;
          }

          p {
            color: white;
          }
        }

        .workshop {
          display: none;
        }
      }
    }
    // END SUCCESS SECTION

    // START CONVERSATION SECTION
    .conversation {
      display: flex;
      justify-content: center;
      margin-top: 100px;
      .conversationphoto {
        display: block !important;
        overflow: hidden;
        border: 3px solid #647b64;
        border-radius: 10px;
        box-shadow: 2px 2px 2px 2px rgb(1, 26, 1);
        figure {
          width: 350px;
          height: 350px;
          transition: 1s;
          img {
            width: 100%;
            height: 100%;
          }
          &:hover {
            transform: scale(1.3);
          }
        }
      }

      .conversationbox {
        width: 300px;
        height: 300px;
        margin-left: 30px;
        h2 {
          font-size: 28px;
          color: $colortitle2;
          text-align: center;
        }
        h3 {
          font-size: 24px;
          color: $colortitle1;
          text-align: center;
          margin-top: 10px;
        }
        p {
          font-size: 24px;
          line-height: 32px;
          margin-top: 10px;
        }

        button {
          @include button();
          color: white;
          font-size: 20px;
          margin-top: 14px;
        }
      }
    }
    // END CONVERSATION SECTION

    
    // START WRITER SECTION
    .writer {
      margin-top: 60px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .writer_title {
        display: flex;

        align-items: center;

        figure {
          margin-left: 30px;
          transform: scale(0.5);
        }
        h3 {
          padding: 30px;
          color: #333333;
          font-size: 28px;
          background: linear-gradient(
            164.26deg,
            rgba(239, 128, 49, 0) -335.51%,
            rgba(239, 128, 49, 0.15) -20.24%,
            rgba(239, 128, 49, 0) 119.45%
          );
        }
      }

      .author {
        display: flex;
        justify-content: space-around;
        width: 768px;

        figure {
          figcaption {
            padding-top: 10px;
            color: #647b64;
            font-size: 27px;
            text-align: center;
          }
        }
      }
    }
    // END WRITER SECTION
    // END WRITER SECTION

    // START FOOTER
    footer {
      display: flex;

      margin-top: 30px;

      justify-content: space-around !important;
      align-items: center;

      .social {
        margin-top: -50px;
      }
    }
    // END FOOTER

    // MEDIA, BODY and CONTAINER CURLY BRACKET, DON`T REMOVE
  }
}
// MEDIA, BODY and CONTAINER CURLY BRACKET, DON`T REMOVE
